.lane {
  display: inline-block;
  margin: 1em;
  background-color: #efefef;
  border: 1px solid #ccc;
  border-radius: 0.5em;

  min-width: 10em;
  vertical-align: top;
}

.lane-header {
  overflow: auto;
  padding: 1em;
  color: #efefef;
  background-color: #333;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;

  :hover .lane-delete {
    visibility: visible;
  }
}

.lane-name {
  float: left;
}

.lane-add-note {
  float: left;
  margin-right: 0.5em;

  .add-lane button {
    cursor: pointer;

    background-color: #fdfdfd;
    border: 1px solid #ccc;
  }
}

.lane-delete {
  float: right;
  margin-left: 0.5em;
  visibility: hidden;

  button {
    padding: 0;

    cursor: pointer;

    color: white;
    background-color: rgba(0,0,0,0);
    border: 0;
  }
}
